# Raw

> Notes on the raw parking ticket dataset. For documentation purposes only

In [2]:
import pandas as pd
from pathlib import Path

from btowntickets import utils

## Profile the Raw Dataset

### Data loading

In [3]:
DATA = Path("../data/raw/Penalty_Notices-Parking_Tickets-2013_2018.csv")
df = pd.read_csv(DATA)

C:\Users\alexk\AppData\Local\Temp\ipykernel_14980\1931205828.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(DATA)

### Columns

In [4]:
print(f"Number of Columns: {len(df.columns)}")
df.columns

Number of Columns: 12

Index(['X', 'Y', 'OBJECTID', 'ADDRESS', 'ISSUEDATE', 'LICSTATEPROV', 'VIOCODE',
       'VIODESCRIPTION', 'VIOFINE', 'VOIDSTATUS', 'ISSUETIME', 'ISSUENO_MASK'],
      dtype='object')

### Rows

In [5]:
print(f"Numb of Rows: {len(df)}")
df.head(3)

Numb of Rows: 397416

,X,Y,OBJECTID,ADDRESS,ISSUEDATE,LICSTATEPROV,VIOCODE,VIODESCRIPTION,VIOFINE,VOIDSTATUS,ISSUETIME,ISSUENO_MASK
0,-8.877191e+06,5.426114e+06,168321,2100 BOVAIRD DR. E.,2013/01/01 00:00:00+00,ON,93-93 Sect 46(1),PARK ON PRIVATE PROPERTY,40.0,NO,1899/12/30 09:25:00+00,XXX2454
1,-8.877191e+06,5.426114e+06,168322,2100 BOVAIRD DR. E.,2013/01/01 00:00:00+00,ON,93-93 Sect 46(1),PARK ON PRIVATE PROPERTY,40.0,NO,1899/12/30 09:59:00+00,XXX2457
2,-8.885088e+06,5.416361e+06,168323,17 WORTHINGTON AVE W,2013/01/01 00:00:00+00,ON,93-93 Sect 46(1),PARK ON PRIVATE PROPERTY,20.0,NO,1899/12/30 05:36:00+00,XXX5887

### Data types

In [6]:
df.dtypes

X                 float64
Y                 float64
OBJECTID            int64
ADDRESS            object
ISSUEDATE          object
LICSTATEPROV       object
VIOCODE            object
VIODESCRIPTION     object
VIOFINE           float64
VOIDSTATUS         object
ISSUETIME          object
ISSUENO_MASK       object
dtype: object

### Null Values

In [7]:
utils.profile_nulls(df).sort_values(by="Null Pct", ascending=False)

            Column  Null Count  Null Pct
11    ISSUENO_MASK       62058  0.156154
4        ISSUEDATE       20732  0.052167
5     LICSTATEPROV        1554  0.003910
10       ISSUETIME          19  0.000048
0                X           0  0.000000
1                Y           0  0.000000
2         OBJECTID           0  0.000000
3          ADDRESS           0  0.000000
6          VIOCODE           0  0.000000
7   VIODESCRIPTION           0  0.000000
8          VIOFINE           0  0.000000
9       VOIDSTATUS           0  0.000000

### Duplicates

No duplicates found

In [8]:
df[df.duplicated()]

Empty DataFrame
Columns: [X, Y, OBJECTID, ADDRESS, ISSUEDATE, LICSTATEPROV, VIOCODE, VIODESCRIPTION, VIOFINE, VOIDSTATUS, ISSUETIME, ISSUENO_MASK]
Index: []

## Columns

### X, Y, and ADDRESS

Some coordinate data. Could be useful for map visualizations to see where parking tickets are issued, along with the address.
Might be useful with GeoPandas

In [9]:
df["X"]

0        -8.877191e+06
1        -8.877191e+06
2        -8.885088e+06
3        -8.877191e+06
4        -8.877191e+06
              ...
397411   -8.881785e+06
397412   -8.881785e+06
397413   -8.881785e+06
397414   -8.881785e+06
397415   -8.877559e+06
Name: X, Length: 397416, dtype: float64

In [10]:
df["Y"]

0         5.426114e+06
1         5.426114e+06
2         5.416361e+06
3         5.426114e+06
4         5.426114e+06
              ...
397411    5.414548e+06
397412    5.414548e+06
397413    5.414548e+06
397414    5.414548e+06
397415    5.431857e+06
Name: Y, Length: 397416, dtype: float64

In [11]:
df["ADDRESS"].value_counts(dropna=False)

ADDRESS
435 ARCHDEKIN DR               16868
64 BRAMHALL CIR                 3600
CENTRAL PARK DR AT 150          3545
PETER ROBERTSON BLVD AT 995     2443
RAY LAWSON BLVD AT 500          1565
                               ...
MOUNTAIN GORGE RD NEAR 17          1
PIKA TRAIL NEAR 12                 1
OXTAIL LANE AT 4                   1
RED CEDAR CRES NEAR 55             1
60 SEA DRIFTER CRES                1
Name: count, Length: 72656, dtype: int64

## Object ID and ISSUENO_MASK

I don"t know what this exactly. Maybe some sort of primary key to identify the ticket?
If so, then `OBJECTID` should be unique

In [12]:
# Test that object ID is unique
len(df["OBJECTID"].unique()) == len(df)

True

I don't know what `ISSUENO_MASK` is...

In [13]:
df["ISSUENO_MASK"].value_counts(dropna=False)

ISSUENO_MASK
NaN         62058
XXX1456        12
XXX1635        11
XXX7145        11
XXX1303        11
            ...
XXX55731        1
XXX96245        1
XXX91904        1
XXX43012        1
XXX02348        1
Name: count, Length: 109866, dtype: int64

## ISSUEDATE and ISSUETIME

We can combine the `ISSUEDATE` and `ISSUETIME` into one column

In [14]:
print("Earliest date:", pd.to_datetime(df["ISSUEDATE"]).min().date())
print("Latest date:", pd.to_datetime(df["ISSUEDATE"]).max().date())

Earliest date: 2013-01-01
Latest date: 2018-07-27

In [15]:
df["ISSUEDATE"].value_counts(dropna=False)

ISSUEDATE
NaN                       20732
2018/03/31 00:00:00+00      529
2018/07/21 00:00:00+00      518
2018/06/26 00:00:00+00      506
2018/07/12 00:00:00+00      504
                          ...
2015/12/25 00:00:00+00        8
2016/12/25 00:00:00+00        6
2017/12/25 00:00:00+00        6
2014/12/25 00:00:00+00        2
2013/12/25 00:00:00+00        2
Name: count, Length: 2035, dtype: int64

The time information in `ISSUEDATE` is not informative; we'll need to just extract the date info (assume Easter Standard Time because the dataset is for Brampton, Ontario)

In [16]:
df["ISSUETIME"].value_counts(dropna=False)

ISSUETIME
1899/12/30 00:00:00+00    62113
1899/12/30 03:45:00+00     1417
1899/12/30 03:44:00+00     1387
1899/12/30 03:42:00+00     1387
1899/12/30 03:28:00+00     1362
                          ...
1899/12/30 07:21:00+00        5
1899/12/30 07:14:00+00        5
1899/12/30 07:36:00+00        5
1899/12/30 07:09:00+00        4
1899/12/30 07:12:00+00        3
Name: count, Length: 1441, dtype: int64

The date information in `ISSUETIME` is not informative; we'll need to just extract the time info (assume Easter Standard Time because the dataset is for Brampton, Ontario)

## LICSTATEPROV and VOIDSTATUS


`LICSTATEPROV` = The province to which the license plate belongs

`VOIDSTATUS` = Whether the ticket was voided or not

In [16]:
df["LICSTATEPROV"].value_counts(dropna=False)

LICSTATEPROV
ON     383383
QC       4281
AB       1952
NaN      1554
NY        650
        ...
SD          1
AK          1
WY          1
HI          1
MX          1
Name: count, Length: 69, dtype: int64

In [17]:
df["VOIDSTATUS"].value_counts(dropna=False)

VOIDSTATUS
NO    335358
XX     56477
VO      5581
Name: count, dtype: int64

### VIOCODE

Not entirely sure about the format, but it looks like at most we have:

`{year}-{year} Sect {Section}({Subsection})({Paragraph})`

There are some inconsistencies with the "Sect" portion of the code, even with the format of the Section and Subsection.
It's not important so we could extract the section code (and the subsection code too)

In [18]:
df["VIOCODE"].value_counts(dropna=False)

VIOCODE
93-93 Sect 42(11)      212312
93-93 Sect 46(1)        57297
93-93 Sect 42(1)        21627
93-93 Sect 42(8)        14327
93-93 Sect 42(12)       14054
93-93 Sect 57(12)       11241
93-93 Sect 47(5)        11200
93-93 Sect 40(1)         9356
93-93 Sect 55(1)         7981
93-93 Sect 42(2)         4868
93-93 Sect 44            4424
93-93 Sect 45            4266
93-93 Sect. 42(7A)       3458
93-93 Sect 42(7)         3281
93-93 Sect 43(2)         2609
93-93 Sect 56.1(3)       2448
93-93 Sect 50            2107
93-93 Sect 48(5)         1698
93-93 Sect 56(4)         1653
93-93 Sect 48(3)         1371
93-93 Sect 49             684
93-93 Sect 51.2           619
93-93 Sect 56.1(4)        592
104-2018 Sect 2           581
93-93 Sect 55.1           544
93-93 Sect 42(4)          538
93-93 Sect 42(3)          474
93-93 Sect 56.1(5)        455
93-93 Sect 42(6)          315
93-93 Sect 51             193
93-93 Sect 43.2           158
93-93 SECT 46(1)          132
93-93 Sect 21(2)(B)       125
93-93 Sect 42(13)          98
93-93 Sect 43(1)(K)        49
93-93 Sect. 55             48
93-93 Sect 57(6)(3)        38
93-93 Sect 57(6)(4)        30
                           29
93-93 Sect 56.1(10)        28
93-93 Sect 56(10)          25
93-93 43.1(1)              23
93-93 Sect 57(6)(7)        20
93-93 Sect 57(6)(5)        16
93-93 Sect 42(10)          11
93-93 SECT 47(5)            7
93-93 43.1(2)               4
93-93 SECT 43(1)(K)         1
93-93 Sect 43(4)            1
Name: count, dtype: int64

### VIODESCRIPTION

In [19]:
df["VIODESCRIPTION"].value_counts(dropna=False)

VIODESCRIPTION
PARKING 2:00 AM TO 6:00 AM PROHIBITED                                 212312
PARK ON PRIVATE PROPERTY                                               57365
PARK OBSTRUCTING SIDEWALK                                              21627
PARK IN EXCESS OF 3 HOURS                                              14327
PARK IN A PROHIBITED AREA                                              14054
PARK ON MUNICIPAL PROPERTY                                             11241
PARK IN A DESIGNATED FIRE ROUTE                                        11207
PARK UNLICENSED VEHICLE                                                 7981
PARK FACING WRONG WAY                                                   6589
PARK WITHIN 3M OF FIRE HYDRANT                                          4868
PARK INTERFERING WITH SNOW REMOVAL AND/OR WINTER MAINTENANCE            4424
PARK OVERHANG CURB                                                      3458
PARK LARGE MOTOR VEHICLE ON STREET                                      3290
PARK ON BOULEVARD                                                       3281
PARK MORE THAN 15 CM FROM CURB                                          2767
STOP IN PROHIBITED AREA                                                 2609
PARK AND FAIL TO DISPLAY RECEIPT                                        2460
STOP PROHIBITED TIME AS POSTED                                          2107
PARK IN ACCESSIBLE PARKING SPACE/NO PERMIT                              1698
PARK AT EXPIRED METER                                                   1653
OBSTRUCT ACCESS AISLE                                                   1419
PARK DETACHED TRAILER ON STREET                                          976
PARK PROHIBITED TIME AS POSTED                                           684
PARK ON AN AUTHORIZED RESIDENTIAL ONLY AREA WITHOUT AUTHORIZATION        619
PARK AND EXCEED TIME DISPLAYED ON PAY AND DISPLAY RECEIPT                592
Park, stand or stop in an unauthorized area                              581
PARK IMMOBILE VEHICLE                                                    544
PARK WITHIN 9M OF INTERSECTION                                           538
PARK IN FRONT OF DRIVEWAY                                                468
PARK AND EXCEED MAXIMUM TIME PERMITTED IN PAY AND DISPLAY LOCATION       455
OBSTRUCTING TRAFFIC                                                      315
PARK IN EXCESS OF POSTED TIME LIMIT                                      193
PARK/STOP IN TAXI ZONE                                                   158
PARK/STOP IN BICYCLE LANE                                                125
FAIL TO PARK WITHIN DESIGNATED SPACE                                      98
PARK ON MUNICIPAL LANEWAY                                                 64
PARK ACCESSIBLE PARKING SPACE ON STREET/NO PERMIT                         50
PARK AT BAGGED PAY AND DISPLAY MACHINE                                    48
PARK AND EXCEED MAXIMUM TIME PERMITTED ON PAY AND DISPLAY RECEIPT         30
                                                                          29
PARK DISPLAY ILLEGIBLE PAY AND DISPLAY RECEIPT                            26
STOP VEHICLE ON HIGHWAY CONTROLLED BY BAGGED PARKING METER                25
PARK IN NO PARKING LOADING ZONE                                           23
PARK AT PAY AND DISPLAY LOT AND EXCEED MAXIMUM TIME PERMITTED             16
PARK IN FRONT OF LANEWAY                                                   6
PARK ON PEDESTRIAN CROSSOVER                                               6
PARK ON CROSSWALK                                                          5
STAND IN NO PARKING LOADING ZONE                                           4
PARK IN TAXICAB STAND                                                      1
Name: count, dtype: int64

### VIOFINE

In [20]:
df["VIOFINE"].value_counts(dropna=False)

VIOFINE
 35.0     220540
 40.0      88490
 30.0      38055
 100.0     12577
 20.0       8810
           ...
-19.0          1
 19.0          1
 333.0         1
 15.5          1
 240.0         1
Name: count, Length: 80, dtype: int64

In [21]:
print(f"Min fine: ${df["VIOFINE"].min():.2f}")
print(f"Max fine: ${df["VIOFINE"].max():.2f}")

Min fine: $-19.00
Max fine: $350.00

Why is the minimum fine negatve? Is that just an anomaly?

Apparently not...

In [22]:
df[df["VIOFINE"] < 0]

,X,Y,OBJECTID,ADDRESS,ISSUEDATE,LICSTATEPROV,VIOCODE,VIODESCRIPTION,VIOFINE,VOIDSTATUS,ISSUETIME,ISSUENO_MASK
13785,-8.878343e+06,5.417518e+06,182106,100 JOHN ST,2014/08/16 00:00:00+00,ON,93-93 Sect 46(1),PARK ON PRIVATE PROPERTY,-15.0,NO,1899/12/30 19:06:00+00,XXX8135
120663,-8.878684e+06,5.419944e+06,288985,HANSEN RD N NEAR 388,2014/06/03 00:00:00+00,ON,93-93 Sect 55(1),PARK UNLICENSED VEHICLE,-5.0,NO,1899/12/30 15:26:00+00,XXX80857
125808,-8.877387e+06,5.422447e+06,294130,NEWBRIDGE CRES,2014/07/07 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-15.0,NO,1899/12/30 04:57:00+00,XXX90300
129166,-8.880140e+06,5.426534e+06,297488,STARHILL CRES,2014/07/31 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-5.0,NO,1899/12/30 04:45:00+00,XXX93239
129345,-8.880140e+06,5.426534e+06,297667,STARHILL CRES,2014/08/01 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-5.0,NO,1899/12/30 04:50:00+00,XXX94015
131002,-8.886227e+06,5.419378e+06,299324,BRAMFIELD ST,2014/08/14 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-15.0,NO,1899/12/30 03:38:00+00,XXX83332
131355,-8.872503e+06,5.424875e+06,299677,QUEEN ST E NEAR 12,2014/08/16 00:00:00+00,ON,93-93 Sect 43(2),STOP IN PROHIBITED AREA,-19.0,NO,1899/12/30 14:51:00+00,XXX92269
131561,-8.878875e+06,5.419854e+06,299883,GREENE DR NEAR 44,2014/08/18 00:00:00+00,ON,93-93 Sect 55(1),PARK UNLICENSED VEHICLE,-15.0,NO,1899/12/30 03:36:00+00,XXX94935
133787,-8.875147e+06,5.423404e+06,302109,CENTRAL PARK DR AT 150,2014/09/02 00:00:00+00,ON,93-93 Sect 57(12),PARK ON MUNICIPAL PROPERTY,-17.0,NO,1899/12/30 14:12:00+00,XXX87472
134272,-8.875112e+06,5.427283e+06,302594,TRAILSIDE WALK,2014/09/06 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-17.0,NO,1899/12/30 04:11:00+00,XXX61154
135160,-8.875112e+06,5.427283e+06,303482,TRAILSIDE WALK,2014/09/11 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-17.0,NO,1899/12/30 05:13:00+00,XXX00470
140849,-8.875576e+06,5.421827e+06,309171,HETHERINGTON PL NEAR 20,2014/10/18 00:00:00+00,ON,93-93 Sect 47(5),PARK IN A DESIGNATED FIRE ROUTE,-17.0,NO,1899/12/30 20:08:00+00,XXX07851
141407,-8.876253e+06,5.411543e+06,309729,RAY LAWSON BLVD NEAR 630,2014/10/22 00:00:00+00,ON,93-93 Sect 43(2),STOP IN PROHIBITED AREA,-17.0,NO,1899/12/30 15:21:00+00,XXX74684
142290,-8.875222e+06,5.429761e+06,310612,BLAIRWOOD CRT,2014/10/31 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-17.0,NO,1899/12/30 03:20:00+00,XXX09522
143781,-8.877179e+06,5.422421e+06,312103,LAWNDALE CRES NEAR 7,2014/11/14 00:00:00+00,ON,93-93 Sect 42(8),PARK IN EXCESS OF 3 HOURS,-5.0,NO,1899/12/30 00:41:00+00,XXX09979
162982,-8.881696e+06,5.422088e+06,331304,DONNA DR,2015/04/15 00:00:00+00,ON,93-93 Sect 42(11),PARKING 2:00 AM TO 6:00 AM PROHIBITED,-2.0,NO,1899/12/30 04:47:00+00,XXX30774

What about $0 fines? Are those possible/common?

Yes, there are a lot of $0 parking tickets

In [23]:
len(df[df["VIOFINE"] == 0])

2473